body {
  background-color: midnightblue;
  color: aqua;
}

#bio {
  margin-top: 50px;
  text-align: start;
  margin-left: 25px;
}

#skills {
  text-align: start;
  display: inline-block;
  width: 25%;
}

#projects {
  display: inline-block;
  text-align: end;
  vertical-align: top;
}

ul{
  list-style: none;  
}